@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*               font-family: 'Montserrat', sans-serif;            */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*               font-family: 'Kaushan Script', cursive;                        */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(img/Layer\ 15.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
    max-width: 1200px;
    margin: auto;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-end;
}
.header-nav__logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif; 
}
.header-nav__ul{
    display: flex;
}
.header-nav__ul__li__a{
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal;
    margin-left: 60px;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
}
.header-nav__ul__li__a:hover{
    color: #fbdd89;
}
.header-nav__ul__li__a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fbdd89;
    left: 0;
    bottom: -10px;
    transition: .3s;
}
.header-nav__ul__li__a:hover::after{
    width: 100%;
}
.header-main__h2{
    font-family: 'Kaushan Script', cursive;  
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    color: white;
    /* line-height: 90px; */
    margin-top: 140px;
    margin-bottom: 15px;
}
.header-main__h1{
    font-size: 150px;
    line-height: 140px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    color: white;
    width: 900px;
    text-align: center;
    margin: auto;
    position: relative;
    text-transform: uppercase;
}
.header-main__h1::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
}
.header-main__button{
    border: 3px solid white;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 125px;
    cursor: pointer;
}
.header-footer{
    display: flex;
    margin-top: 145px;
}
.header-footer__box{
    margin-right: 30px;
    opacity: .6;
    transition: .3s;
}
.header-footer__box__line{
    width: 280px;
    height: 3px;
    background-color: white;
    margin-bottom: 25px;
    position: relative;
    
}
.header-footer__box__line::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #f38181;
    transition: .7s;
}
.header-footer__box__p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    color: white;
    font-weight:normal;
}
.header-footer__box__p__span{
    font-size: 24px;
    font-weight: bold;
}

.header-footer__box:hover {
    opacity: 1;
}
.header-footer__box:hover .header-footer__box__line::after{
    width: 100%;
}
